body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.gallery {
    max-width: 800px;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 17px;
}

img {
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.lightbox {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(0);
}

.visible {
    transform: scale(1);
}

.lightbox img {
    max-width: 40%;
    max-height: 40%;
}

.arrow {
    position: fixed;
    background-color: transparent;
    padding: 20px;
    font-size: 30px;
    border: none;
    outline: none;
    z-index: 1000;
    color: #fff;
}

.left-arrow {
    left: calc(15vw - 90px);
}

.right-arrow {
    right: calc(15vw - 90px);
}