html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cecece;
}

.drumkitApp {
    max-width: 500px;
    width: 100%;
    text-align: center;
    padding: 20px 50px;
    border-radius: 12px;
}

.drumkit {
    color: #fff;
    align-items: center;
    display: flex;
    margin: 0;
    justify-content: center;
    font-size: 30px;
}

.sounds {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-bottom: 40px;
}

audio {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
}

.drum {
    width: 100%;
    height: 100px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgba(255, 255, 255, .2);
    transition: all .3s ease;
    box-shadow: 8px 4px 15px rgba(0, 0, 0, .25), -8px -4px 15px rgba(255, 255, 255, 1), 8px 4px 15px rgba(0, 0, 0, .1) inset, -8px -4px 15px rgba(255, 255, 255, .3) inset;
}

.drum img {
    width: 40px;
    opacity: 0.1;
}

.drum:hover, .drum.active {
    background-color: #fff;
}

.myTrack {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 15px;
}

.myTrack div {
    border-radius: 5px;
    margin-bottom: 10px;
    background: transparent;
    padding: 10px 25px;
    position: relative;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, .25);
}

.myTrack div:before {
    position: absolute;
    content: '';
    width: 140px;
    height: 140px;
    border: 20px solid #c0c0c0;
    right: -50px;
    border-radius: 50%;
}

.myTrack div:after {
    position: absolute;
    content: '';
    width: 90px;
    height: 90px;
    border: 30px solid #c0c0c0;
    right: -50px;
    border-radius: 50%;
}

.myTrack .my_track_play {
    background-color: transparent;
    width: 25px;
    outline: none;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    cursor: pointer;
    border: none;
}

.my_track_play:focus, .my_track_play:active, .my_track_play:hover {
    outline: none;
}

.my_track_play span {
    border: 10px solid transparent;
    border-left: 10px solid #18ce16;
    display: block;
    width: 10px;
    height: 10px;
}

.my_track_edit {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: all .4s ease;
    cursor: pointer;
    margin: 0 0px;
}

.my_track_edit.notRec {
    background-color: #f00;
}

.my_track_edit.rec {
    animation-name: pulse;
    animation-duration: 1.5s;
    background-color: #f00;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 3px;
}

.buttons {
    align-items: center;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    margin: 30px;
}

.recordBtn {
    display: block;
    width: 35px;
    height: 35px;
    box-shadow: 8px 4px 15px rgba(0, 0, 0, .25), -8px -4px 15px rgba(255, 255, 255, 1), 8px 4px 15px rgba(0, 0, 0, .1) inset, -8px -4px 15px rgba(255, 255, 255, .3) inset;
    border: 0;
    border-radius: 35px;
    outline: none;
    cursor: pointer;
    background-color: #f00;
    position: relative;
    transition: border-radius .5s ease;
}

.recordBtn.notRec {
    background-color: #f00;
}

.recordBtn.rec {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 7px;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 15px rgba(173, 0, 0, .3);
    }
    65% {
        box-shadow: 0px 0px 15px rgba(173, 0, 0, .2);
    }
    100% {
        box-shadow: 0px 0px 15px rgba(173, 0, 0, .1);
    }
}

.playBtn, .menuBtn {
    height: 35px;
    width: 35px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
}

.playBtn, .menuBtn svg {
    fill: #fff;
    outline: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #1c1c1c;
    margin-bottom: 45px;
    font-size: 30px;
}